<html ng-app="aitu-project">
<head>
    <meta charset="utf-8" />
    <title>Product List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="appfactory.js"></script>
</head>
<body ng-controller="FactoryCtrl">
<button class="btn btn-warning" ng-repeat="d in statusName" ng-click="getStatus(d.id)"  ng-model="status.id">{{d.name}}</button>


<table class="table table-bordered table-striped table-condensed">
    <thead>
    <th>ID</th>
    <th>Shop ID</th>
    <th>Total_Price</th>
    <th>Date</th>
    <th>Status</th>
    <th></th>
    <th></th>
    </thead>
    <tr ng-repeat="order in OrderStatList" >
        <td ng-bind="order.id"></td>
        <td ng-bind="order.shop_id"></td>
        <td ng-bind="order.total_price"></td>
        <td>{{order.date | date:'dd.MM.yyyy'}}</td>
        <td ng-bind="order.status"></td>
        <td>
            <button  ng-click="changeStatus(order,order.status+1)" type="button" class="btn btn-warning">{{statusName[order.status].name}}</button>
    </td>
    </tr>
</table>

    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Total Price</th>

        </thead>
        <tr ng-repeat="pr in dashboard" >
            <td ng-bind="pr.name"></td>
            <td ng-bind="pr.quantity"></td>
            <td ng-bind="pr.price"></td>

        </tr>
    </table>


</body>
</html>